* {
    background-color: #0A3D62;
    font-family: "Homemade Apple", cursive;
}

.message {
    color: #D4AF37;
}

.helloMessage {
    font-family: "Mystery Quest", system-ui;
    font-style: italic;
    font-weight: 400;
    font-size: xx-large;
    animation: typeEffect 5s ease-in;
}

.secondMessage {
    color: #00D1B2;

}

.envelope {
    color: #FF6F61;
    font-size: 28px; 
    display: inline-block;
    animation: move 1s infinite ease-in-out; 
    transition: transform 0.2s ease-in-out;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

/* Keyframe for typing effect */
@keyframes typeEffect {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes for continuous rotating envelope */
@keyframes move {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
