:root{
  --primary: white;
  --bg-envelope-color: #f5edd1;
  --envelope-tab: #ecdeb8;
  --envelope-cover: #f5d984;
  --shadow-color: #696969;
  
}

.container{
  position:absolute;
  left: 25%;
  top:25%;
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Ensures it's completely hidden */
  transition: all 1s ease-in-out, visibility 1s ease-out;
  animation: revealContainer 1s ease-out 7s forwards;
}

.envelope-wrapper > .envelope {
  position: relative;
  width: 350px;
  height: 250px;
  background: var(--bg-envelope-color);
  box-shadow: 0 0 8px var(--shadow-color);
}

.envelope-wrapper > .envelope::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 2;
  border-top: 130px solid var(--envelope-tab);
  border-right: 175px solid transparent;
  border-left: 175px solid transparent;
  transform-origin: top;
  transition: all 0.5s ease-in-out;
  animation: flap 3s ease-out 7s forwards; 
}

.envelope-wrapper > .envelope::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 0px;
  height: 0px;
  border-top: 130px solid transparent;
  border-right: 175px solid var(--envelope-cover);
  border-bottom: 120px solid var(--envelope-cover);
  border-left: 175px solid var(--envelope-cover);
}

.envelope > .letter {
  position: absolute;
  right: 20%;
  bottom: 0;
  width: 54%;
  height: 80%;
  background:#d3ebdc;
  text-align: center;
  box-shadow: 0 0 5px var(--shadow-color);
  padding: 20px 10px;
  z-index: 2;
  transform: translateY(0); /* Initially position the letter inside the envelope */
  opacity: 0; /* Initially hidden */
  transition: all 9s ease-in-out;
  animation: popOut 9s ease-out 9s forwards; /* Animation starts after flap opens */
}

.envelope > .letter > .text {
  color:#1252a5;
  font-family: "Caveat", cursive;
  font-style: normal;
  text-align: justify;
  font-size: 12px;
  padding-right: 2px;
  transform: translateY(20px); 
  animation: revealSlowly 10s ease-in-out forwards;
}

@keyframes popOut {
  0% {
    transform: translateY(0) scale(1); /* Start below the envelope */
  }
  100% {
    transform: translateY(-55%) scale(1.1); /* Move up and slightly enlarge */
    opacity: 1; /* Fully visible */
    z-index: 2;
  }
}



@keyframes flap {
  0% {
    transform: rotateX(0deg); /* Starts closed (0deg) */
  }
  100% {
    transform: rotateX(180deg); /* Ends fully opened (180deg) */
  }
}

@keyframes revealContainer {
  0% {
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Hidden initially */
  }
  100% {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Make it visible */
  }
}

@keyframes revealSlowly {
  0% {
    opacity: 0; /* Text starts fully transparent */
    transform: translateY(20px); /* Start below */
  }
  50% {
    opacity: 0.5; /* Halfway opacity */
    transform: translateY(0px); /* Move to its original position */
  }
  100% {
    opacity: 1; /* Fully visible */
    transform: translateY(0px); /* End at its normal position */
  }
}
